<header>
  <h1>🚀 Projeto Colaborativo</h1>
  <nav>
    <ul>
      <li><a href="#section01" onclick="loadSection('section01')">Equipe</a></li>
      <li><a href="#section02" onclick="loadSection('section02')">Seção 2</a></li>
      <li><a href="#section03" onclick="loadSection('section03')">Seção 3</a></li>
      <li><a href="#section04" onclick="loadSection('section04')">Seção 4</a></li>
      <li><a href="#section05" onclick="loadSection('section05')">Seção 5</a></li>
    </ul>
  </nav>
</header>
